# Python
backend/venv/
backend/__pycache__/
backend/uploads/
*.py[cod]

# Node
frontend/node_modules/
frontend/dist/

# Environment Variables (RAHASIA!)
.env
.env.local

# System
.DS_Store

# Dokumen & Markdown (Kecuali README.md utama)
*.pdf
**/*.pdf
*.md
**/*.md
!/README.md
!/readme.md