fastapi
uvicorn
pandas
python-multipart
sqlalchemy
python-jose[cryptography]
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
bcrypt
passlib
requests
aiohttp
psycopg2-binary
scikit-learn
numpy
