fastapi
uvicorn
pandas
python-multipart
sqlalchemy
python-jose[cryptography]
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
bcrypt
passlib
requests
aiohttp
uuid

# --- DIET KETAT PYTORCH (CPU ONLY) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# Database (Gunakan ini jika di Railway pakai database Postgres)
psycopg2-binary
